@model IEnumerable<App.ViewModels.SELReconsideraciones.getAtencionesDIAxID>

<table class="table align-middle border rounded table-row-dashed fs-6 g-5 display responsive" id="tblDiagnosticos" style="font-size: 10px !important">
    <thead class="text-center" style="background-color: #0272A3; border-width: 2px; color: white; vertical-align: middle; ">
        <tr>
            <th style="text-align:center">Nº</th>
            <th style="text-align:center">CODIGO</th>
            <th style="text-align:center">DESCRIPCIÓN</th>
            <th style="text-align:center">INGRESO/EGRESO</th>
            <th style="text-align:center">TIPO DX</th>
            @if (ViewBag.RecEstado == 2 || ViewBag.RecEstado == 5)
            {
                <th style="text-align:center"><span>ACCIÓN</span></th>
            }
        </tr>
    </thead>
    <tbody>
        @{

            if (Model.Count() > 0)
            {
                var i = 1;
                foreach (var item in Model)
                {
                <tr id="Diagnosticos_cant">

                    <td style="text-align: center">@item.ADIA_INRODIA</td>
                    <td style="text-align: center">@item.ADIA_CODDIA</td>
                    <td style="text-align: justify">@item.C10_NOMBRE</td>
                    <td style="text-align: center">@item.DESC_CDX</td>
                    <td style="text-align: center">@item.DESC_TIPODIA</td>
                    @if (ViewBag.RecEstado == 2 || ViewBag.RecEstado == 5)
                    {
                        <td style="text-align: center">
                            <a onclick="GetAtencionDIAPorId(3,@item.ADIA_IDNUMREG);" href="javascript:void(0);"><i style="font-size: 20px; color: #c64821;" title="Visualizar Diagnostico" class="fas fa-eye" aria-hidden="true"></i></a>
                        </td>
                    }


                </tr>
                    i = i + 1;
                }
            }
            else
            {
                <tr>
                    <td colspan="9" style="text-align: center"><h5 class="text-danger">Aún no hay registros a mostrar</h5></td>
                </tr>
            }

        }
    </tbody>
</table>
<script>

</script>