

<h1 class="display-6 mt-5 mb-8" style="text-align:center">@ViewBag.Titulo</h1>


<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <input type="hidden" id="Ate_Idnumreg" value="@ViewBag.ATE_IDNUMREG" />
        <input type="hidden" id="MatrizCant" value="@ViewBag.Matriz" />
        <input type="hidden" id="RecEstado" value="@ViewBag.RecEstado" />
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-color:#73B8C0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="fs-4 fw-bolder" style="color:white; text-align:center; font-size:14px !important">
                                    Periodo de Registro de Reconcideración: @ViewBag.PeriodoRec
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card" style="background-color: #0272A3">
                    <div class="card-body">
                        <div class="row" style="text-align:center">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-warning btn-md" onclick="VoverAtras_Reconsideraciones()">
                                    <i class="fas fa-arrow-left  fs-4 me-2"></i>
                                    Atras
                                </button>
                                @{
                                    if (ViewBag.RecEstado == 5)
                                    {
                                        <button type="button" class="btn btn-success btn-md" onclick="CargarModal_Evaluacion();">
                                            <i class="fas fa-tasks fs-4 me-2"></i>
                                            Evaluar
                                        </button>
                                        <button type="button" class="btn btn-danger btn-md" onclick="Conf_EliTotal(event)">
                                            <i class="fas fa-trash fs-4 me-2"></i>
                                            Eliminar
                                        </button>
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card mt-5 mb-5 mb-xl-10" id="kt_profile_details_view">
            <!--begin::Card body-->
            <div class="card-body p-9">

                <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#Tab0"><i class="fas fa-inbox fs-4 me-2"></i> SOLICITUD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Tab1"><i class="fas fa-clinic-medical fs-4 me-2"></i> INFORMACIÓN GENERAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Tab2"><i class="fas fa-file-medical fs-4 me-2"></i> DIAGNOSTICOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Tab3"><i class="fas fa-capsules fs-4 me-2"></i> MEDICAMENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Tab4"><i class="fas fa-crutch fs-4 me-2"></i> PROCEDIMIENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Tab5"><i class="fas fa-vials fs-4 me-2"></i> INSUMOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Tab6"><i class="fas fa-baby fs-4 me-2"></i> SERVICIO MATERNO</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Tab0" role="tabpanel">
                        <div id="divSolicitudFUA"></div>
                        <div id="modalEvaluacion"></div>
                    </div>
                    <div class="tab-pane fade" id="Tab1" role="tabpanel">
                        <div id="divInfGeneralFUA"></div>
                    </div>
                    <div class="tab-pane fade" id="Tab2" role="tabpanel">
                        <div id="modalDiagnostico"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <div id="tabla_dx"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Tab3" role="tabpanel">
                        <div id="modalMedicamentos"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <div id="tabla_Medica"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Tab4" role="tabpanel">
                        <div id="modalProcedimientos"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <div id="tabla_Procedimientos"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="Tab5" role="tabpanel">
                        <div id="modalInsumos"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <div id="tabla_Insumos"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Tab6" role="tabpanel">
                        <div id="tabla_Infantil"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--end::Container-->
</div>
<script>

    $('.form-select').select2({
    });
    setTimeout(function () {
        CargarWaitMe();
        CargarTodoEval();
        TerminarWaitMe();
    }, 500);

    async function CargarTodoEval() {
        await Cargar_Info_SolRec_Eval();
        await Cargar_Info_General_Eval();
        await Inabilitar_Todo_Eval();
        await BtnINA_Detalles_Eval();
        await Cargar_Diagnosticos_Eval();
        await Cargar_Medicamentos_Eval();
        await Cargar_Procedimientos_Eval();
        await Cargar_Insumos_Eval();
        await Cargar_Infantil_Eval();
    }

    async function Cargar_Info_SolRec_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        try {
            const response = await $.get("@Url.Content("~/Evaluacion/InfSoliRecEval")", { id: id});
            $('#divSolicitudFUA').html(response);
            $('.select').select2();
            TerminarWaitMe();
        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    async function Cargar_Info_General_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        try {
            const response = await $.get("@Url.Content("~/Evaluacion/InfGeneralEvalV")", { id: id});
            $('#divInfGeneralFUA').html(response);
            $('.select').select2();
            TerminarWaitMe();
        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    async function Cargar_Diagnosticos_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        let est = DIA;
        try {

            const response = await $.get("@Url.Content("~/Evaluacion/DiagnosticosEvalV")", { id: id, est:est});
            $('#tabla_dx').html(response);
            if ($("#Diagnosticos_cant").length == 1) {
                $('#tblDiagnosticos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

            TerminarWaitMe();

        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    async function Cargar_Medicamentos_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        let est = MED;
        try {
            const response = await $.get("@Url.Content("~/Evaluacion/MedicamentosEvalV")", { id: id, est:est});
            $('#tabla_Medica').html(response);
            if ($("#Medicamentos_cant").length == 1) {
                $('#tblMedicamentos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }
        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    async function Cargar_Procedimientos_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        let est = APO;
        try {
            const response = await $.get("@Url.Content("~/Evaluacion/ProcedimientosEvalV")", { id: id, est:est});
            $('#tabla_Procedimientos').html(response);
            if ($("#Procedimientos_cant").length == 1) {
                $('#tblProcedimientos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }
        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    async function Cargar_Insumos_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        let est = INS;
        try {
            const response = await $.get("@Url.Content("~/Evaluacion/InsumosEvalV")", { id: id, est:est});
            $('#tabla_Insumos').html(response);
            if ($("#Insumos_cant").length == 1) {
                $('#tblInsumos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }
        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    async function Cargar_Infantil_Eval() {
	    CargarWaitMe();
        let id = $("#Ate_Idnumreg").val();
        let est = SMI;
        try {
            const response = await $.get("@Url.Content("~/Evaluacion/MaternoInfantilEvalV")", { id: id, est:est});
            $('#tabla_Infantil').html(response);
            if ($("#Infantil_cant").length == 1) {
                $('#tblInfantil').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }
        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

    function CargarModalDiagnostico_Eval(tipo,id) {
        $.get("@Url.Content("~/Evaluacion/AccionDiagnosticoEvalV")", { tipo: tipo, id: id })
        .done(function (response) {
            $('#modalDiagnostico').html(response);
            $('#mdl_AccionDiagnosticoFUAV').modal("show");
        });
    }

    function CargarModalMedicamentos_Eval(tipo, id) {
        let idate = $("#Ate_Idnumreg").val();
        $.get("@Url.Content("~/Evaluacion/AccionMedicamentosEvalV")", { tipo: tipo, id: id, idate: idate })
        .done(function (response) {
            $('#modalMedicamentos').html(response);
            $('#mdl_AccionMedicamentosFUAV').modal("show");
        });
    }

    function CargarModalProcedimientos_Eval(tipo, id) {
        let idate = $("#Ate_Idnumreg").val();
        $.get("@Url.Content("~/Evaluacion/AccionProcedimientosEvalV")", { tipo: tipo, id: id, idate:idate })
        .done(function (response) {
            $('#modalProcedimientos').html(response);
            $('#mdl_AccionProcedimientosFUAV').modal("show");
            $('.select').select2();
        });
    }

    function CargarModalInsumos_Eval(tipo, id) {
        let idate = $("#Ate_Idnumreg").val();
        $.get("@Url.Content("~/Evaluacion/AccionInsumosEvalV")", { tipo: tipo, id: id, idate:idate })
        .done(function (response) {
            $('#modalInsumos').html(response);
            $('#mdl_AccionInsumosFUAV').modal("show");
        });
    }

    function CargarModal_Evaluacion() {
        let idate = $("#Ate_Idnumreg").val();
        $.get("@Url.Content("~/Evaluacion/AccionEvaluacionV")", { id: idate })
        .done(function (response) {
            $('#modalEvaluacion').html(response);
            $('#mdl_AccionEvaluacionV').modal("show");
        });
    }

    function CargarModalValMatriz() {
        let idate = $("#Ate_Idnumreg").val();

        //let idate = '631278686';
        $.get("@Url.Content("~/FUA/MatrizValFUAV")", { id: idate })
        .done(function (response) {
            $('#modalMatriz').html(response);
            $('#mdl_MatrizFUAV').modal("show");
        });
    }

    function CargarModalObsRcRv(id) {
        $.get("@Url.Content("~/FUA/ListarObsRcRvFUAV")", { id: id })
        .done(function (response) {
            $('#modalObsRcRv').html(response);
            $('#mdl_ObsRcRvFUAV').modal("show");
        });
    }

    function CargarModalSustento() {
        let idate = $("#Ate_Idnumreg").val();
        $.get("@Url.Content("~/FUA/AccionSustentoFUAV")", {idate:idate })
        .done(function (response) {
            $('#modalSustento').html(response);
            $('#mdl_AccionSustentoFUAV').modal("show");
        });
    }


   function GetAtencionDIAPorId(tipo,IdDia) {
       let id = IdDia;
        CargarWaitMe();
        $.get('@Url.Content("~/Evaluacion/ListarAtencionDIAPorId")', { id: id })
            .done(function (response) {
                if (response.isSuccess == true) {
                    let { result } = response;
                    console.log(result);
                    CargarModalDiagnostico_Eval(tipo, IdDia);

                    setTimeout(function () {
                        $('#txtCodDiagnostico').val(result.adiA_CODDIA);
                        $('#cbxIngEgre').val(result.adiA_CDX);
                        $('#cbxTipoDx').val(result.adiA_TIPODIA);
                        GetDiagnosticoPorId();
                    }, 1000);
                }
                else {
                    NotificacionToastr('error', `Algo salio mal intente mas tarde.`, 'Error...');
                }
                TerminarWaitMe();

            });
    }

   function GetAtencionMEDPorId(tipo,IdMed) {
       let id = IdMed;
        CargarWaitMe();
        $.get('@Url.Content("~/Evaluacion/ListarAtencionMEDPorId")', { id: id })
            .done(function (response) {
                if (response.isSuccess == true) {
                    let { result } = response;
                    console.log(result);
                    CargarModalMedicamentos_Eval(tipo, IdMed);
                    setTimeout(function () {
                        $('#txtCodMedicamento').val(result.ameD_CODMED);
                        $('#txtPrescrito').val(result.ameD_ICANTPRESCRITA);
                        $('#txtEntregado').val(result.ameD_ICANTENTREGADA);
                        $('#txtPreMedUni').val(result.ameD_NPO);
                        GetMedicamentoxMED_CODMED();
                        let costo = result.ameD_ICANTENTREGADA * result.ameD_NPO;
                        $('#txtPrecio').val(costo);
                    }, 1000);
                }
                else {
                    NotificacionToastr('error', `Algo salio mal intente mas tarde.`, 'Error...');
                }
                TerminarWaitMe();

            });
    }


    function GetAtencionAPOPorId(tipo, IdApo) {
        let id = IdApo;
        CargarWaitMe();
        $.get('@Url.Content("~/Evaluacion/ListarAtencionAPOPorId")', { id: id })
            .done(function (response) {
                if (response.isSuccess == true) {
                    let { result } = response;
                    console.log(result);
                    CargarModalProcedimientos_Eval(tipo, IdApo);

                    setTimeout(function () {
                        $('#txtCodProcedimiento').val(result.aapO_CODAPO);
                        $('#txtPrescritaProc').val(result.aapO_ICANTPROCED);
                        $('#txtEjecutadoProc').val(result.aapO_ICANTEJECUTADA);
                        $('#txtPrecioProc').val(result.aapO_NPO);
                        GetProcedimientoPorId();
                    }, 1000);
                }
                else {
                    NotificacionToastr('error', `Algo salio mal intente mas tarde.`, 'Error...');
                }
                TerminarWaitMe();

            });
    }


    function Visualizar_FUA2(id) {

        $(".content-custom").load("@Url.Content("~/FUA/Index")", { id: id})
    }

    function Conf_Guardar(e) {
        e.preventDefault();
        Swal.fire({
            title: `GUARDAR CAMBIOS?`,
            icon: "info",
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "SI, registrar Ahora!",
            cancelButtonText: 'NO, cancelar',
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: 'btn btn-danger'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                //Visualizar_FUA(id);
            } else if (result.isDenied) {
                Swal.fire('', '', 'info')
            }
        });
    }

    function Conf_EliTotal(e) {
        e.preventDefault();
        Swal.fire({
            html: '<p style="color: red;">No se podra revertir.</p>',
            title: `ELIMINAR LA EVALUACIÓN DE RECONSIDERACIÓN?`,
            icon: "info",
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "SI, Eliminar Ahora!",
            cancelButtonText: 'NO, cancelar',
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: 'btn btn-danger'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                Eliminar_Total();
            } else if (result.isDenied) {
                Swal.fire('', '', 'info')
            }
        });
    }
    async function Eliminar_Total() {
        let array_data = {};
        array_data.N_ATE_IDNUMREG = $("#Ate_Idnumreg").val();
        let url = "@Url.Action("EliminarAtencionTotal", "FUA")";
        $.post(url, array_data)
            .done(function (response) {
                console.log(response);
                if (response.isSuccess == true) {
                    NotificacionToastr('success', `${response.message}`, 'Mensaje de confirmación');
                    VoverAtras_Reconsideraciones();
                }
                else {
                    NotificacionToastr('error', `${response.message}`, 'Error...');
                }
            });
    }

    function VoverAtras_Reconsideraciones(){
        ///SolicitudReconsideracion/Index
        CargarWaitMe();
        $(".content-custom").load("@Url.Content("~/SolicitudReconsideracion/Index")", () => {
            TerminarWaitMe();
        });
    }

   async function PermitirMatrizAjax(ajaxurl, data_array) {
        return $.post(ajaxurl, data_array);
    }

    async function PermitirMatrizEdit(){
        try{
            const array_data = {};
            array_data.id = $("#Ate_Idnumreg").val();
            //array_data.id  = '631278686';
            const response = await PermitirMatrizAjax('@Url.Content("~/FUA/PermitirMatriz")', array_data);
            if (response.isSuccess) {
                let data = response.result;
                //console.log(data);
                $.each(data, function (i, item) {
                    console.log(item);
                    if (item.ivaL_V_REFDEVELOPER != null) {
                        $(`#${item.ivaL_V_REFDEVELOPER}`).prop("disabled", false);
                        //Solo se habilita cuando
                        if (item.ivaL_V_REFDEVELOPER== 'txtDocuIdent') {
                            $('#btnDocuIdent').prop("disabled", false);
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'DIA') {
                            DIA = 1;
                            $('#btnDIA').show();
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'MED') {
                            MED = 1;
                            $('#btnMED').show();
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'INS') {
                            INS = 1;
                            $('#btnINS').show();
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'APO') {
                            APO = 1;
                            $('#btnAPO').show();
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'SMI') {
                            SMI = 1;
                            $('#btnSMI').show();
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'TODO') {
                            Habilitar_Todo_Eval();
                            BtnHAB_Detalles_Eval();
                        }
                        if (item.ivaL_V_REFDEVELOPER == 'NADA') {
                            Inabilitar_Todo_Eval();
                            BtnINA_Detalles_Eval();
                        }
                    }
                });

            }
            else{
                NotificacionToastr('error', `Algo salio mal intente mas tarde.`, 'Error...');
            }

        } catch (err) {
            console.log(err);
        }
    }

    async function Inabilitar_Todo_Eval() {
        try {
            DIA = 0;
            MED = 0;
            INS = 0;
            APO = 0;
            SMI = 0;
        $('#cbxTipoDocu').prop("disabled", true);
        $('#txtDocuIdent').prop("disabled", true);
        $('#btnDocuIdent').prop("disabled", true);
            $('#cbxProfesional').prop("disabled", true);


        $("#txtFUA").prop("disabled", true);
        $("#txtCostoObservado").prop("disabled", true);

        $("#txtPerProduc").prop("disabled", true);


        $("#txtIPRESS").prop("disabled", true);


        //3. DATOS ASEGURAD0

        $("#cbxComponente").prop("disabled", true);
        $("#cbxTipoFormato").prop("disabled", true);
        $("#txtCodAfiliado").prop("disabled", true);
        $("#cbxTipoDocumAfi").prop("disabled", true);
        $("#txtDocIdentAfi").prop("disabled", true);
        $("#txtApePaterAfi").prop("disabled", true);
        $("#txtApeMaterAfi").prop("disabled", true);
        $("#txtNombreAfi").prop("disabled", true);
        $("#txtOtroNombreAfi").prop("disabled", true);
        $("#txtFechNaciAfi").prop("disabled", true);

            $("#txtEdadAfi").prop("disabled", true);
            $("#cbxGeneroAfi").prop("disabled", true);
            $("#cbxTipoAtencion").prop("disabled", true);
            //falta prestacion

            $("#cbxGestante").prop("disabled", true);
                $("#txtFechPartoAfi").prop("disabled", true);
            $("#txtHCAfi").prop("disabled", true);
            $("#txtNroAutoriz").prop("disabled", true);
            $("#txtMontoAfi").prop("disabled", true);

            //DATOS DE LA ATENCIÓN

            $("#txtFechAte").prop("disabled", true);
            $("#cbxLugarAte").prop("disabled", true);
            $("#cbxPersonalAte").prop("disabled", true);
            $("#txtCodPrestacion").prop("disabled", true);
            $("#txtEESSRef").prop("disabled", true);

            $("#txtNumRef").prop("disabled", true);
            $("#txtFechIngresoAte").prop("disabled", true);
            $("#cbxDestinoRefAte").prop("disabled", true);
            $("#txtFechAltaAte").prop("disabled", true);

            $("#txtEESSContraRef").prop("disabled", true);
            $("#txtNumContraRef").prop("disabled", true);

            //RESPONSABLE DE LA ATENCION

            $("#cbxTipoDocu").prop("disabled", true);
            $("#txtDocuIdent").prop("disabled", true);
            $("#txtColegiatura").prop("disabled", true);
            $("#cbxProfesional").prop("disabled", true);

            //OBSERVACION
            $("#txtobservacion").prop("disabled", true);

            $("#cbxOtroSeguro").prop("disabled", true);
            $("#cbxIntegrSemi").prop("disabled", true);
            $("#cbxConsiAfili").prop("disabled", true);
            $("#cbxConceptoPresA").prop("disabled", true);
            $("#txtServicio").prop("disabled", true);
            $("#txtRespAte").prop("disabled", true);
            $('#cbxEspecialidad').prop("disabled", true);

        } catch {
            console.log('Error inabilitar');
        }
    }

    async function Habilitar_Todo_Eval() {
        try {
            DIA = 1;
            MED = 1;
            INS = 1;
            APO = 1;
            SMI = 1;
            $('#cbxTipoDocu').prop("disabled", false);
            $('#txtDocuIdent').prop("disabled", false);
            $('#btnDocuIdent').prop("disabled", false);
            $('#cbxProfesional').prop("disabled", false);


            $("#txtFUA").prop("disabled", false);
            $("#txtCostoObservado").prop("disabled", false);

            $("#txtPerProduc").prop("disabled", false);


            $("#txtIPRESS").prop("disabled", false);


            //3. DATOS ASEGURAD0

            $("#cbxComponente").prop("disabled", false);
            $("#cbxTipoFormato").prop("disabled", false);
            $("#txtCodAfiliado").prop("disabled", false);
            $("#cbxTipoDocumAfi").prop("disabled", false);
            $("#txtDocIdentAfi").prop("disabled", false);
            $("#txtApePaterAfi").prop("disabled", false);
            $("#txtApeMaterAfi").prop("disabled", false);
            $("#txtNombreAfi").prop("disabled", false);
            $("#txtOtroNombreAfi").prop("disabled", false);
            $("#txtFechNaciAfi").prop("disabled", false);

            $("#txtEdadAfi").prop("disabled", false);
            $("#cbxGeneroAfi").prop("disabled", false);
            $("#cbxTipoAtencion").prop("disabled", false);
            //falta prestacion

            $("#cbxGestante").prop("disabled", false);
            $("#txtFechPartoAfi").prop("disabled", false);
            $("#txtHCAfi").prop("disabled", false);
            $("#txtNroAutoriz").prop("disabled", false);
            $("#txtMontoAfi").prop("disabled", false);

            //DATOS DE LA ATENCIÓN

            $("#txtFechAte").prop("disabled", false);
            $("#cbxLugarAte").prop("disabled", false);
            $("#cbxPersonalAte").prop("disabled", false);
            $("#txtCodPrestacion").prop("disabled", false);
            $("#txtEESSRef").prop("disabled", false);

            $("#txtNumRef").prop("disabled", false);
            $("#txtFechIngresoAte").prop("disabled", false);
            $("#cbxDestinoRefAte").prop("disabled", false);
            $("#txtFechAltaAte").prop("disabled", false);

            $("#txtEESSContraRef").prop("disabled", false);
            $("#txtNumContraRef").prop("disabled", false);

            //RESPONSABLE DE LA ATENCION

            $("#cbxTipoDocu").prop("disabled", false);
            $("#txtDocuIdent").prop("disabled", false);
            $("#txtColegiatura").prop("disabled", false);
            $("#cbxProfesional").prop("disabled", false);

            //OBSERVACION
            $("#txtobservacion").prop("disabled", false);

            $("#cbxOtroSeguro").prop("disabled", false);
            $("#cbxIntegrSemi").prop("disabled", false);
            $("#cbxConsiAfili").prop("disabled", false);
            $("#cbxConceptoPresA").prop("disabled", false);
            $("#txtServicio").prop("disabled", false);
            $("#txtRespAte").prop("disabled", false);
            $('#cbxEspecialidad').prop("disabled", false);

        } catch {
            console.log('Error Habilitar');
        }
    }

    async function BtnINA_Detalles_Eval(){
        $('#btnDIA').hide();
        $('#btnMED').hide();
        $('#btnINS').hide();
        $('#btnAPO').hide();
        $('#btnSMI').hide();
    }
    async function BtnHAB_Detalles_Eval() {
        $('#btnDIA').show();
        $('#btnMED').show();
        $('#btnINS').show();
        $('#btnAPO').show();
        $('#btnSMI').show();
    }


</script>
