@{
    Layout = null;
}
@model App.ViewModels.SELSiasis.SELSiasis.getAtencionObs

<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <title>Sistema de Reconsideraciones - SIS</title>
    <meta charset="utf-8" />
    <meta name="description" content="Sistema de Reconsideraciones - SIS" />
    <meta name="keywords" content="Sistema de Reconsideraciones - SIS" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Sistema de Reconsideraciones - SIS" />
    <meta property="og:url" content="https://www.gob.pe/sis" />
    <meta property="og:site_name" content="SIS" />
    <link rel="canonical" href="https://www.gob.pe/sis" />
    <link rel="shortcut icon" href="~/favicon2.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used by this page)-->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <!--end::Global Stylesheets Bundle-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/waitMe.css" rel="stylesheet" type="text/css" />
    <link href="~/css/toastr.css" rel="stylesheet" type="text/css" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="print-content-only header-extended header-fixed header-tablet-and-mobile-fixed">
    <!--begin::Theme mode setup on page load-->
    <script>if (document.documentElement) { const defaultThemeMode = "system"; const name = document.body.getAttribute("data-kt-name"); let themeMode = localStorage.getItem("kt_" + (name !== null ? name + "_" : "") + "theme_mode_value"); if (themeMode === null) { if (defaultThemeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } else { themeMode = defaultThemeMode; } } document.documentElement.setAttribute("data-theme", themeMode); }</script>
    <!--end::Theme mode setup on page load-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" style="padding-top: 0px !important;" id="kt_wrapper">
                <!--begin::Container-->
                <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
                    <!--begin::Post-->
                    <div class="content flex-row-fluid" id="kt_content">
                        <!-- begin::Invoice 1-->
                        <div class="card">
                            <!-- begin::Body-->
                            <div class="card-body py-20">
                                <!-- begin::Wrapper-->
                                <div class="mw-lg-950px mx-auto w-100">
                                    <!-- begin::Header-->
                                    <div class="d-flex justify-content-between flex-column flex-sm-row mb-10">
                                        <h4 class="fw-bolder text-gray-800 fs-2qx pe-5 pb-7">SUPERVICIÓN DE ATENCIONES</h4>
                                        <!--end::Logo-->
                                        <div class="text-sm-end">
                                            <a href="#" class="d-flex align-items-center">
                                                <img alt="Logo" src="~/Img/LogoSIS.png" class="h-35px h-lg-40px" />
                                            </a>
                                        </div>
                                    </div>
                                    <input type="hidden" id="Ate_Idnumreg" value="@ViewBag.Numregate" />

                                    <input type="hidden" id="v_periodo" value="@Model.ate_periodo" />

                                    <input type="hidden" id="v_mes" value="@Model.ate_mes" />
                                    <!--end::Header-->
                                    <div class="row fw-semibold fs-4 mb-3 text-dark00">
                                        <div class="col-sm-12 text-center">
                                            <p class="fw-semibold pe-5"> PERIODO MES DE PRODUCCION: @Model.ate_periodo - @Model.ate_mes  </p>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <p class="fw-semibold pe-5"> UDR: @Model.ate_odsis</p>
                                        </div>
                                    </div>

                                    <div class="row fw-semibold fs-6 mb-3 text-dark00">
                                        <div class="col-sm-12 text-left">
                                            <p class="fw-semibold pe-5">
                                                BENEFICIARIO(A): @Model.ate_nrobenef - @Model.ate_beneficiario - @Model.ate_disa-@Model.ate_lote-@Model.ate_numregate
                                                @{
                                                    if (ViewBag.Tipo == 1)
                                                    {
                                                        <span style="color:red"> - ATENCION OBSERVADA   <i style="font-size: 25px; color:red" class="fas fa-circle"></i> </span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:green"> - ATENCION VALIDA   <i style="font-size: 25px; color:green" class="fas fa-circle"></i> </span>
                                                    }
                                                }

                                            </p>
                                        </div>
                                    </div>

                                    <div class="card shadow-sm">
                                        <div class="card-header" style="background-color:#264a74">
                                            <h3 class="card-title" style="color:white">DATOS GENERALES</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7 text-gray-800">ORIGEN: @Model.ate_ideess - @Model.pre_nombre</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">HIST. CLINICA: @Model.ate_historiaclinica</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA DE AFILIAION: @Model.ate_fecact</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">REFERIDO: @Model.eessNomReferido</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">EDAD: @Model.ate_edad</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA DE INGRESO:@Model.ate_fecinghosp</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">CONTRA REF.: @Model.eessNomContraRef</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">SEXO: @Model.ate_sexo</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA DE ALTA: @Model.ate_fecaltahosp</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">SERVICIO: @Model.ate_idservicio</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA DE NACIMIENTO: @Model.fecha_nac</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA DIGITACION: @Model.ate_fecCrea</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    @Model.ser_nombre
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA FALLECIMIENTO: @Model.ate_fecfallecimiento</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA ATENCION: @Model.fecha_aten</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">CATEGORIA: </p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">TIPO DE PAGO: @Model.ate_tipo_pago</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FEC. CORTE ADM: @Model.ATE_FECCORTEADM</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">RESPONSABLE: </p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">INGRESADO POR: @Model.tipo_ingreso</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">MODALIDAD:</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">TIPO PROFESIONAL: </p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">COB EXTRAORDINARIA: </p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">COMPONENTE: @Model.ate_componente</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">TIPO ATENCION: </p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">CARTA GARANTIA: @Model.NumAutorizaCartaGarantia</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">GESTANTE: @Model.ate_esgestante</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA PARTO: @Model.fecha_parto</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">MONTO: @Model.ate_monto</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">ARTICULO: @Model.ate_articulo</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">CAPITA: @Model.ate_capita</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FORMATO REVISADO: @Model.ate_usuario_revisado</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA ACTUALIZACION: @Model.ate_fecact</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="fw-semibold pe-6 fs-7  text-gray-800">FECHA REVISION: @Model.ate_fecha_revision</p>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="fw-semibold pe-6 fs-5  text-dark00">OBSERVACION: @Model.ate_observacion</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <div id="tabla_Valorizacion"></div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="card shadow-sm mt-10">
                                        <div class="card-body">

                                            <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-bs-toggle="tab" href="#Tab"><i class="fas fa-clinic-medical fs-4 me-2"></i>OBSERVACIONES TOTALES</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Tab1"><i class="fas fa-parking fs-4 me-2"></i> OBSERVACIONES PARCIALES</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Tab2"><i class="fas fa-file-medical fs-4 me-2"></i> DIAGNOSTICOS</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Tab3"><i class="fas fa-capsules fs-4 me-2"></i> MEDICAMENTOS</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Tab4"><i class="fas fa-crutch fs-4 me-2"></i> PROCEDIMIENTOS</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Tab5"><i class="fas fa-vials fs-4 me-2"></i> INSUMOS</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Tab6"><i class="fas fa-baby fs-4 me-2"></i> SERVICIO MATERNO</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="Tab" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <div id="tabla_ObsTotal"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Tab1" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <div id="tabla_ObsParcial"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Tab2" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <div id="tabla_dx"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Tab3" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <div id="tabla_Medica"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Tab4" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <div id="tabla_Procedimientos"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane fade" id="Tab5" role="tabpanel">

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <div id="tabla_Insumos"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Tab6" role="tabpanel">
                                                    <div id="tabla_Infantil"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- begin::Footer-->
                                    <div class="d-flex flex-stack flex-wrap mt-5 pt-13">
                                        <!-- begin::Actions-->
                                        <div class="my-1 me-5" style="text-align:right">
                                            <!-- begin::Pint-->
                                            <button type="button" class="btn btn-success my-1 me-12" onclick="window.print();"> <i style="font-size: 25px;" class="fas fa-print"></i> Imprimir</button>
                                            <!-- end::Pint-->
                                            <!-- begin::Download-->
                                            <button type="button" class="btn btn-danger my-1"><i style="font-size: 25px;" class="fas fa-file-pdf"></i>Descargar PDF</button>
                                            <!-- end::Download-->
                                        </div>
                                        <!-- end::Actions-->
                                    </div>
                                    <!-- end::Footer-->
                                </div>
                                <!-- end::Wrapper-->
                            </div>
                            <!-- end::Body-->
                        </div>
                        <!-- end::Invoice 1-->
                    </div>
                    <!--end::Post-->
                </div>
                <!--end::Container-->
                <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-semibold me-1">2022©</span>
                            <a href="https://www.gob.pe/sis" target="_blank" class="text-gray-800 text-hover-primary">Seguro Integral de Salud</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                            <li class="menu-item">
                                <a href="#" target="_blank" class="menu-link px-2">Oficina de Tecnologia de Información</a>
                            </li>
                        </ul>
                        <!--end::Menu-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    <!--begin::Javascript-->
    <script>var hostUrl = "~/assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used by this page)-->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used by this page)-->
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
    <script src="~/assets/js/custom/apps/chat/chat.js"></script>
    <script src="~/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="~/assets/js/custom/utilities/modals/create-campaign.js"></script>
    <script src="~/assets/js/custom/utilities/modals/create-app.js"></script>
    <script src="~/assets/js/custom/utilities/modals/users-search.js"></script>
    <!--end::Custom Javascript-->

    <script src="~/js/waitMe.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/funciones_custom.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/jquery.form.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/JqueryLenguaje.js"></script>
    <!--end::Javascript-->
    <script>
		setTimeout(function () {
            CargarTodo();
			//Cargar_Infantil();
		}, 500);

        async function CargarTodo() {
           await Cargar_Valorizacion();
           await Cargar_ObserTotal();
           await Cargar_ObserParcial();
           await Cargar_Diagnosticos();
           await Cargar_Medicamentos();
           await Cargar_Procedimientos();
           await Cargar_Insumos();
        }


     async function Cargar_Valorizacion() {
	    CargarWaitMe();
        let id = $('#Ate_Idnumreg').val();
        try {

            const response = await $.get("@Url.Content("~/VisorFUA/ValorizacionFUAV")", { id: id});
            $('#tabla_Valorizacion').html(response);
            TerminarWaitMe();

        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

	async function Cargar_ObserTotal() {
	    CargarWaitMe();
        let id = $('#Ate_Idnumreg').val();
        let v_periodo = $('#v_periodo').val();
        let v_mes = $('#v_mes').val();
        try {

            const response = await $.get("@Url.Content("~/VisorFUA/ObserTotalFUAV")", { id: id, v_periodo: v_periodo, v_mes: v_mes });
            $('#tabla_ObsTotal').html(response);
            if ($("#TotalObs_cant").length == 1) {
                $('#tblObserTotal').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

        } catch {
            console.log('Error Obs Total');
            TerminarWaitMe();
        }

    }

	async function Cargar_ObserParcial() {
			CargarWaitMe();
            let id = $('#Ate_Idnumreg').val();
            let v_periodo = $('#v_periodo').val();
        let v_mes = $('#v_mes').val();

        try {

            const response = await $.get("@Url.Content("~/VisorFUA/ObserParcialFUAV")", { id: id, v_periodo: v_periodo, v_mes: v_mes });
            $('#tabla_ObsParcial').html(response);
            if ($("#ParcialOBS_cant").length == 1) {
                $('#tblObserParcial').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

        } catch {
            console.log('Error Obs Parcial');
            TerminarWaitMe();
        }
    }

	async function Cargar_Diagnosticos() {
			CargarWaitMe();
        let id = $('#Ate_Idnumreg').val();

        try {

            const response = await $.get("@Url.Content("~/VisorFUA/DiagnosticosFUAV")", { id: id });
            $('#tabla_dx').html(response);
            if ($("#DiaObs_cant").length == 1) {
                $('#tblDiagnosticos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

        } catch {
            console.log('Error Obs Dx');
            TerminarWaitMe();
        }

    }

	async function Cargar_Medicamentos() {
        CargarWaitMe();
        let id = $('#Ate_Idnumreg').val();

        try {

            const response = await $.get("@Url.Content("~/VisorFUA/MedicamentosFUAV")", { id: id });
            $('#tabla_Medica').html(response);
            if ($("#MedObs_cant").length == 1) {
                $('#tblMedicamentos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

        } catch {
            console.log('Error Obs Med');
            TerminarWaitMe();
        }

    }

	async function Cargar_Procedimientos() {
			CargarWaitMe();
        let id = $('#Ate_Idnumreg').val();

        try {

            const response = await $.get("@Url.Content("~/VisorFUA/ProcedimientosFUAV")", { id: id });
            $('#tabla_Procedimientos').html(response);
            if ($("#ApoObs_cant").length == 1) {
                $('#tblProcedimientos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

        } catch {
            console.log('Error Obs Proc');
            TerminarWaitMe();
        }
    }

	async function Cargar_Insumos() {
			CargarWaitMe();
        let id = $('#Ate_Idnumreg').val();

        try {

            const response = await $.get("@Url.Content("~/VisorFUA/InsumosFUAV")", { id: id });
            $('#tabla_Insumos').html(response);
            if ($("#InsObs_cant").length == 1) {
                $('#tblInsumos').DataTable({
                    destroy: true,
                    "ordering": false,
                    responsive: true,
                    "lengthChange": false,
                    "searching": true,
                    "language": languaje_spanol
                });
                TerminarWaitMe();
            } else {
                TerminarWaitMe();
            }

        } catch {
            console.log('Error Obs Ins');
            TerminarWaitMe();
        }
	}

    async function Cargar_Infantil() {
			CargarWaitMe();
            let id = $('#Ate_Idnumreg').val();
			$("#tabla_Infantil").load("@Url.Content("~/VisorFUA/MaternoInfantilFUAV")", { id: id }, function () {
				if ($("#Infantil_cant").length == 1) {
					$('#tblInfantil').DataTable({
						destroy: true,
						"ordering": false,
						responsive: true,
						"lengthChange": false,
						"searching": true,
						"language": languaje_spanol
					});
					TerminarWaitMe();
				} else {
					TerminarWaitMe();
				}
			});
		}

    </script>
</body>
<!--end::Body-->

</html>