

<div class="container-xxl">
 <div class="row">
        <div class="col-md-10">
            <h1 class="display-6 mt-5 mb-8" style="text-align:center">BÚSQUEDA DE RECONSIDERACIONES A SOLICITAR</h1>
        </div>
        <div class="col-md-2">
            <a class="btn btn-warning fw-bold mt-3" href="~/Account/Salir_Menu"><i class="fas fa-arrow-left me-2"></i> Atras</a>
        </div>
 </div>
</div>

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">

        <div class="card-body">
            <div class="accordion" id="accordionPanelbusqEvalExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="PanelbusqEval-headingOne">
                        <button class="accordion-button fw-bolder" style="background-color:#73B8C0 !important;color:lightgray !important" type="button" data-bs-toggle="collapse" data-bs-target="#PanelbusqEval-collapseOne" aria-expanded="true" aria-controls="PanelbusqEval-collapseOne">
                            FILTROS GENERALES
                        </button>
                    </h2>
                    <div id="PanelbusqEval-collapseOne" class="accordion-collapse collapse show" aria-labelledby="PanelbusqEval-headingOne">
                        <div class="accordion-body">

                                                <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxDISA">
                                <label for="cbxDISA" class="form-label text-wrap fw-bolder fs-4">DISA:</label>
                                <select aria-label="Seleccionar" id="cbxDISA" onchange="CargarUE()" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                            @{
                                                if (ViewBag.DISA != null)
                                                {
                                                    foreach (var item in ViewBag.DISA)
                                                    {
                                                        <option value="@item.IDDISA">@item.DISA</option>
                                                    }
                                                }
                                            }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-4" data-select2-id="cbxUE">
                                <label for="cbxUE" class="form-label text-wrap fw-bolder fs-4">UND. EJEC.:</label>
                                        <select aria-label="Seleccionar" id="cbxUE" onchange="CargarEESS()" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                            @{
                                                if (ViewBag.UE != null)
                                                {
                                                    foreach (var item in ViewBag.UE)
                                                    {
                                                        <option value="@item.IDEJECUTORA">@item.EJECUTORA</option>
                                                    }
                                                }
                                            }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-4" data-select2-id="cbxEESS">
                                <label for="cbxEESS" class="form-label text-wrap fw-bolder fs-4">EESS:</label>
                                        <select aria-label="Seleccionar" id="cbxEESS" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select select mb-2">
                                            @{
                                                if (ViewBag.EESS != null)
                                                {
                                                    foreach (var item in ViewBag.EESS)
                                                    {
                                                        <option value="@item.IDEESS">@item.ESTABLECIMIENTO</option>
                                                    }
                                                }
                                            }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="mb-2" data-select2-id="cbxPeriodo">
                                <label for="cbxPeriodo" class="form-label text-wrap fw-bolder fs-4">Periodo</label>
                                        <select aria-label="Seleccionar" id="cbxPeriodo" onchange="CargarRangoPeriodoRec()" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                    @{ if (ViewBag.RecPeriodo != null)
                                        {
                                            foreach (var item in ViewBag.RecPeriodo)
                                            {
                                                <option value="@item.PERIODO">@item.PERIODO</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <label for="txtCronograma" class="form-label text-wrap fw-bolder fs-4">Cronograma de Registro de Solicitud</label>
                                <input type="text" class="form-control form-control-solid" id="txtCronograma" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <label for="txtPeriodoAte" class="form-label text-wrap fw-bolder fs-4">Periodo de Producción de Atenciones</label>
                                <input type="text" class="form-control form-control-solid" id="txtPeriodoAte" disabled />
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxTipoRec">
                                <label for="cbxTipoRec" class="form-label text-wrap fw-bolder fs-4">Tipo de Observación</label>
                                <select aria-label="Seleccionar" id="cbxTipoRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxEstadoRec">
                                <label for="cbxEstadoRec" class="form-label text-wrap fw-bolder fs-4">Estado de Reconsideración</label>
                                <select aria-label="Seleccionar" id="cbxEstadoRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxTarifarioRec">
                                <label for="cbxTarifarioRec" class="form-label text-wrap fw-bolder fs-4">Tarifario</label>
                                <select aria-label="Seleccionar" id="cbxTarifarioRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxTipoSupervicionRec">
                                <label for="cbxTipoSupervicionRec" class="form-label text-wrap fw-bolder fs-4">Tipo Supervición</label>
                                <select aria-label="Seleccionar" id="cbxTipoSupervicionRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxTipoRecons">
                                <label for="cbxTipoRecons" class="form-label text-wrap fw-bolder fs-4">Tipo de Reconsideración</label>
                                <select aria-label="Seleccionar" id="cbxTipoRecons" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxEstadoReviRec">
                                <label for="cbxEstadoReviRec" class="form-label text-wrap fw-bolder fs-4">Estado de la Revisión</label>
                                <select aria-label="Seleccionar" id="cbxEstadoReviRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxRMRec">
                                <label for="cbxRMRec" class="form-label text-wrap fw-bolder fs-4">RM:</label>
                                <select aria-label="Seleccionar" id="cbxRMRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxCodObsRec">
                                <label for="cbxCodObsRec" class="form-label text-wrap fw-bolder fs-4">Codigo Observación</label>
                                <select aria-label="Seleccionar" id="cbxCodObsRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4" data-select2-id="cbxDetCodObsRec">
                                <label for="cbxDetCodObsRec" class="form-label text-wrap fw-bolder fs-4">Detalle Codigo Observación</label>
                                <select aria-label="Seleccionar" id="cbxDetCodObsRec" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-2">
                                    <option selected disabled value="">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    -->
                    <div class="row mt-5 mb-5">
                        <div class="col-md-12">
                            <div class="form-check form-switch form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" value="" id="rbtnFiltroFUA" />
                                <label class="form-check-label" for="rbtnFiltroFUA">
                                    Busqueda por FUA
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="modalFiltroFUA"></div>
                    <div class="row mt-2">

                        <div class="col-md-12 d-grid gap-2">
                                    <button type="button" onclick="CargarParametros(2,0);" href="javascript:void(0);" id="btnConsultar" class="btn btn-primary fs-1">
                                <i class="fas fa-search fs-1 me-2"></i>
                                Consultar
                            </button>
                        </div>
                    </div>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="PanelbusqEval-headingTwo">
                        <button class="accordion-button fw-bolder" style="background-color:#73B8C0 !important;color:lightgray !important" type="button" data-bs-toggle="collapse" data-bs-target="#PanelbusqEval-collapseTwo" aria-expanded="false" aria-controls="PanelbusqEval-collapseTwo">
                            RESULTADOS
                        </button>
                    </h2>
                    <div id="PanelbusqEval-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="PanelbusqEval-headingTwo">
                        <div class="accordion-body">
                            <div class="row mt-2">
                                <div class="col-md-12">

                                    <div class="table-responsive">
                                        <div class="mt-4" id="tabla_p">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--end::Container-->
</div>
<script>
    setTimeout(function () {
        //CargarParametros();
        $('.select').select2();
        CargarUE();
    }, 1000);

    function Limpiar_UE() {
        $('option', '#cbxUE').remove();
    }

    function CargarUE(){

        let cDISA = $("#cbxDISA").val();
       
        $.get("@Url.Content("~/BusqReconsideracionEval/CargarUE")", { DISA: cDISA })
        .done(function (response) {            
            if (response.isSuccess != false) {  
                let data = response.result;
                console.log(data);
                    Limpiar_UE();
                data.forEach((element, index) => {
                     // create the option
                        var opt = $("<option>").val(element.idejecutora).text(element.ejecutora);
                    //append option to the select element
                        $("#cbxUE").append(opt);
                })
                CargarEESS();
            }
            else {
                NotificacionToastr('error', 'Algo salio, intente mas tarde!', 'Oops...');
            }
        });   
    }

    function Limpiar_EESS() {
        $('option', '#cbxEESS').remove();
    }

    function CargarEESS(){

        let cDISA = $("#cbxDISA").val();
        let cUE = $("#cbxUE").val();
       
        $.get("@Url.Content("~/BusqReconsideracionEval/CargarEESS")", { DISA: cDISA, UE: cUE })
        .done(function (response) {            
            if (response.isSuccess != false) {  
                let data = response.result;
                console.log(data);
                    Limpiar_EESS();
                data.forEach((element, index) => {
                     // create the option
                        var opt = $("<option>").val(element.ideess).text(element.establecimiento);
                    //append option to the select element
                        $("#cbxEESS").append(opt);
                })

            }
            else {
                NotificacionToastr('error', 'Algo salio, intente mas tarde!', 'Oops...');
            }
        });   
    }

    function CargarParametros(vfiltro,vfua) {
        CargarWaitMe();
        let prd =$("#cbxPeriodo").val();
        let Establecimiento = $("#cbxEESS").val();
               console.log(prd);
        if (prd == "" || prd == null) {

            NotificacionToastr('error', 'Debe ingresar el Periodo para inciar la busqueda', 'Oops...');
            $("#cbxPeriodo").focus();
            TerminarWaitMe();

        }else if (Establecimiento == "" || Establecimiento ==null) {
            
            NotificacionToastr('error', 'Debe ingresar el Establecimiento para inciar la busqueda', 'Oops...');
            $("#cbxEESS").focus();
            TerminarWaitMe();

        } else {
            $("#tabla_p").load("@Url.Content("~/BusqReconsideracionEval/GetReconsideracionesEvalV")", { periodo: prd, filtro: vfiltro, fua: vfua, eess: Establecimiento }, function() {

                if ($("#tblRecEval_cant").length == 1) {
                    $('#tblRecEval').DataTable({
                        destroy: true,
                        "ordering": true,
                        responsive: true,
                        "lengthChange": false,
                        "searching": true,
                        "language": languaje_spanol
                    });
                    TerminarWaitMe();
                } else {
                    TerminarWaitMe();
                }
            });
        }
    }


    $("#rbtnFiltroFUA").change(function () {
        if (this.checked) {
            Visualizar_Filtro_FUA();
        } else {
        }
    });
   function Visualizar_Filtro_FUA() {
        $.get("@Url.Content("~/BusqReconsideracionEval/FiltroFuaReconsEvalV")")
        .done(function (response) {
            $('#modalFiltroFUA').html(response);
            $('#mdl_FiltroFuaReconsEvalV').modal("show");
        });
    }
    function Visualizar_FUA_EVAL(id) {

        $(".content-custom").load("@Url.Content("~/Evaluacion/Index")", { id: id})
    }
    function Formato_Fecha(fecha) {
        return fecha.substring(3, 5) + "/" + fecha.substring(0, 2) + "/" + fecha.substring(6, 10);
    }
    function CargarRangoPeriodoRec() {
        let cV_PERIODO = $("#cbxPeriodo").val();

        var valores = { V_PERIODO: cV_PERIODO };
        $.get("@Url.Content("~/BusqReconsideracionEval/CargarRangoPeriodoRec")", valores)
            .done(function (response) {
                if (response.isSuccess != false) {
                    let data = response.result;
                    console.log(data);
                    $('#txtCronograma').val(`${Formato_Fecha(data.rcrO_FECHAINICIO)} al ${Formato_Fecha(data.rcrO_FECHAFIN)}`);
                    $('#txtPeriodoAte').val(data.rcrO_TEXTO);


                }
                else {
                    NotificacionToastr('error', 'Algo salio, intente mas tarde!', 'Oops...');
                }
            });
    }

    function Evaluar_Reconsideracion(e,id) {
        e.preventDefault();
        Swal.fire({
            html: `EVALUAR LA SOLICITUD DE RECONSIDERACION?`,
            icon: "info",
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "SI, Evaluar Ahora!",
            cancelButtonText: 'NO, cancelar',
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: 'btn btn-danger'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                Registrar_EvalRecon(id)
            } else if (result.isDenied) {
                Swal.fire('', '', 'info')
            }
        });
    }

    function Registrar_EvalRecon(id) {
        let valores_Aprob = [];
        valores_Aprob[0] = id;

        var formData = new FormData();
        formData.append("id", valores_Aprob[0]);

        CargarWaitMe();
        $.ajax({
            url: '@Url.Action("RegistrarEvaluacion", "BusqReconsideracionEval")',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            async: true,
            type: 'POST',
            success: function (response) {
                if (response.isSuccess == true) {
                    NotificacionToastr('success', `${response.message}`, 'Mensaje de confirmación.');
                    Visualizar_FUA_EVAL(id);
                    TerminarWaitMe();
                }
                else {
                    NotificacionToastr('error', `${response.message}`, 'Mensaje de confirmación.');
                    TerminarWaitMe();
                }
            },
            error: function (err) {
                console.log(err);
                TerminarWaitMe();
            }
        });

    }

</script>